<%= form_for @request.generation, url: certificate_generation_path(@request.certificate, @request.generation) do |f| %>
  <div class="clearfix">
    <div class="form-group">
      <label class="col-md-2 control-label">Request</label>
      <div class="col-md-5">
        <pre><%= @request.to_pem %></pre>
      </div>
    </div>
  </div>
  <%= field(f, :certificate, size: "col-md-5") do %>
    <%= f.text_area :certificate, rows: 10, class: "form-control" %>
    <%= f.file_field :certificate_file %>
  <% end %>
  <%= submit_or_cancel f, false, { cancel_path: certificate_path(@request.certificate) } %>
<% end %>