<%= form_for @request.generation, url: certificate_generation_path(@request.certificate, @request.generation) do |f| %>
  <div class="form-group">
    <div class="col-md-2 control-label">Request</div>
    <pre class="col-md-4"><%= @request.to_pem %></pre>
  </div>
  <%= field(f, :certificate) do %>
    <%= f.text_area :certificate, rows: 10, class: "form-control" %>
    <%= f.file_field :certificate_file %>
  <% end %>
  <%= submit_or_cancel f, false, { cancel_path: certificate_path(@request.certificate) } %>
<% end %>