<% title _("Certificates") %>

<% title_actions link_to(_("Create Certificate"), hash_for_new_certificate_path, class: 'btn btn-default') %>

<table class="<%= table_css_classes 'table-condensed table-fixed' %>">
  <thead>
    <tr>
      <th class="col-md-2"><%= sort :name, as: _('Name') %></th>
      <th class="col-md-3"><%= _('Issuer') %></th>
      <th class="col-md-1"><%= _('Not Before') %></th>
      <th class="col-md-1"><%= _('Not After') %></th>
    </tr>
  </thead>
  <tbody>
    <% @certificates.each do |certificate| %>
      <tr>
        <td>
          <%= link_to certificate.name, certificate_path(certificate) %>
        </td>
        <td>
          <%= link_to certificate.issuer.name, issuer_path(certificate.issuer) %>
        </td>
        <td>
          <%= certificate.not_before.httpdate %>
        </td>
        <td>
          <%= certificate.not_after.httpdate %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @certificates %>