<% title @certificate.name %>

<%
items = [{ caption: _('Certificates'), url: certificates_path },
         { caption: @certificate.name }]

breadcrumbs(resource_url: api_certificates_path, 
            name_field: 'name',
            switcher_item_url: certificate_path(':name'),
            items: items)
%>

<% title_actions certificate_download_links %>

<ul id="host-show-tabs" class="nav nav-tabs">
  <li class="active"><a href="#primary" data-toggle="tab"><%= _("Details") %></a></li>
  <li><a href="#configuration" data-toggle="tab"><%= _("Configuration") %></a></li>
  <li><a href="#generations" data-toggle="tab"><%= _("Generations") %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="primary">
    <pre><%= certificate_details %></pre>
  </div>
  <div class="tab-pane" id="configuration">
    <pre><%= @certificate.configuration.to_s %></pre>
  </div>
  <div class="tab-pane" id="generations">
    <%= render partial: "generations" %>
  </div>
</div>